<div class='card mt-2' *ngIf="(users$ | async) as users">
  <div class='card-header'>
    User List

    <button class="btn btn-success float-right mx-2" [routerLink]="['add']" routerLinkActive="router-link-active">Add
      User</button>
      <button class="btn btn-info float-right mx-2 float-right" [routerLink]="['show']" *ngIf="selectedUserId" routerLinkActive="router-link-active">Details</button>
  </div>
  <div class='card-body'>
    <div class='table-responsive'>
      <table class='table' *ngIf='users'>
        <thead>
          <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Profile</th>
            <th>Operation</th>
          </tr>
        </thead>
        <tbody>
          <tr [ngClass]="{'bg-light': user.id == selectedUserId}" *ngFor='let user of users;let i=index;' (click)="onDetailShow(user.id)">
            <td>{{ user.id }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td><img [src]="user.avatar" class="avatar" alt=""></td>
            <td> <span (click)="onDelete(user.id)" class="fa fa-trash  pointer"></span>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <span class="fa fa-edit color-green pointer" [routerLink]="['edit',user.id]"
                routerLinkActive="router-link-active"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row" *ngIf="error$ | async as error">
  <div class="alert alert-danger">
    {{ error }}
  </div>
</div>