<div class='card mt-2' *ngIf="(users$ | async) as users">
  <div class='card-header'>
    User List
    <span class="btn btn-success float-right" [routerLink]="['add']" routerLinkActive="router-link-active">Add
      User</span>
  </div>
  <div class='card-body'>
    <div class='table-responsive'>
      <table class='table' *ngIf='users'>
        <thead>
          <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Operation</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let user of users;let i=index;'>
            <td>{{ user.id }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td> <span (click)="onDelete(user.id)" class="fa fa-trash color-red pointer"></span>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <span class="fa fa-edit color-green pointer" [routerLink]="['edit',user.id]"
                routerLinkActive="router-link-active"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row" *ngIf="error$ | async as error">
  <div class="alert alert-danger">
    {{ error }}
  </div>
</div>