<div class="row justify-content-center mt-2">
    <div class="col-md-6">
      <span class="anchor" id="formLogin"></span>
      <!-- form card User -->
      <div class="card card-outline-secondary">
        <div class="card-header">
          <h3 class="mb-0">{{ id ? 'Update' : 'Add' }} User</h3>
        </div>
        <div class="card-body">
          <form class="form" name="formLogin" [formGroup]="userForm" (ngSubmit)="onSubmit()" role="form">
            <div class="form-group">
              <label>First Name</label>
              <input class="form-control" formControlName="first_name" type="text">
            </div>
            <div class="form-group">
              <label>Last Name</label>
              <input  class="form-control" formControlName="last_name" type="text">
            </div>
            <div class="form-group">
              <label>Email</label>
              <input class="form-control" formControlName="email" type="text">
            </div>
            <div class="form-group">
              <label>Avatar Url</label>
              <input class="form-control" formControlName="avatar" type="text">
            </div>
            <button class="btn btn-success btn-lg float-right" type="submit">{{ id ? 'Update' : 'Add' }}</button>
          </form>
        </div>
      </div>
    </div>
  </div>